<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Roma\Stalker\Api\StalkerRepositoryInterface"
                type="Roma\Stalker\Model\StalkerRepository"/>
    <preference for="Roma\Stalker\Api\Data\StalkerInterface"
                type="Roma\Stalker\Model\StalkerModel"/>
    <preference for="Roma\Stalker\Api\StalkerServiceInterface"
                type="Roma\Stalker\Model\StalkerServices"/>
    <preference for="Roma\Stalker\Api\Data\ArtifactsInterface"
                type="Roma\Stalker\Model\ArtefactsModel"/>
    <preference for="Roma\Stalker\Api\ArtifactsRepositoryInterface"
                type="Roma\Stalker\Model\ArtifactsRepository"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="roma_stalker_listing_data_source" xsi:type="string">Roma\Stalker\Model\ResourceModel\Artefacts\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Roma\Stalker\Model\ResourceModel\Artefacts\Grid\Collection" type="Roma\Stalker\Model\ResourceModel\GridCollectionUniversal">
        <arguments>
            <argument name="mainTable" xsi:type="string">artifacts_table</argument>
            <argument name="eventPrefix" xsi:type="string">roma_stalker_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">roma_stalker_collection</argument>
            <argument name="resourceModel" xsi:type="string">Roma\Stalker\Model\ResourceModel\Artefacts</argument>
        </arguments>
    </virtualType>


</config>